##
# Run unit test
##
name: Unit Test
on:
  pull_request:
  push:
    branches:
      - main
      - feature/**
  workflow_dispatch:

jobs:
  # unit tests
  unit:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - name: Setup Node.js
      uses: actions/setup-node@v3.4.0
      with:
        node-version: 16
    - run: npm ci
    - run: npm test
